@use "global" as *;

.point-note {
    background-color: #f2f2f2;
    padding: rem(75) 0;
}

.point-note__tytle {
    text-align: center;
}

.comon-title {

}

.point-note__text {
    font-size: rem(14);
    line-height: 2.375em;
    text-align: left;
    margin-top: rem(60);
    @include mq(md) {
        font-size: rem(16);
        text-align: center;
        }
}

