@use "global" as *;

.pointgift-exchange {
    background-color: #f2f2f2;
    padding: rem(75) 0;
}

.pointgift-exchange__title {
    text-align: center;
}

.comon-title--gift {
    position: relative;
}

.pointgift-exchange__text {
    font-size: rem(16);
    margin-top: rem(60);
    text-align: left;
    line-height: 2.375em;
    @include mq(md) {
        font-size: rem(20);
        text-align: center;
        }
}
.pointgift-exchange__text span {
    border-bottom: rem(1) solid $black;
    margin-bottom: rem(10);
}

.pointgift-exchange__linetext {
    font-size: rem(14);
    margin-top: rem(50);
    @include mq(md) {
        font-size: rem(16);
        }
}