@use "global" as *;

.pointmain-visual {
    position: relative;
}

.pointmain-visual__img img {
    width: 100%;
}

.pointmain-visual__btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}