@use "global" as *;

.pointmain-visual {
    position: relative;
}

.pointmain-visual__inner {

}

.inner {

}

.pointmain-visual__btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.common-btn {

}

.common-btn--mainvisual {

}

